<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>Personería de Medellín</title>
  <link rel="stylesheet" href="../static/nicepage.css" media="screen">
  <link rel="stylesheet" href="../static/home.css" media="screen">
  <script class="u-script" type="text/javascript" src="../static/jquery-1.9.1.min.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="../static/nicepage.js" defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/logo.jpg"
}</script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="Personería de Medellín">
  <meta property="og:type" content="website">
</head>

<body data-home-page-title="home" class="u-body u-xl-mode" data-lang="en">
  <header class="u-clearfix u-header u-header" id="sec-225b">
    <h2 class="u-align-center u-text u-text-default u-text-palette-3-base u-text-1">Personería de medellín</h2><a
      href="/" class="u-image u-logo u-image-1" data-image-width="800" data-image-height="800">
      <img src="../static/logo.jpg" class="u-logo-image u-logo-image-1">
    </a>
  </header>
  <section class="u-align-center u-clearfix u-valign-top u-section-1" id="sec-4f76">
    <div class="u-container-style u-expanded-width u-group u-image u-image-round u-radius-22 u-image-1"
      data-image-width="725" data-image-height="500">
      <div class="u-container-layout u-container-layout-1"></div>
    </div>

    <div class="u-layout-horizontal u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div title="Word Cloud" class="u-align-center u-container-style u-hover-feature u-list-item
            u-palette-5-light-2 u-radius-20 u-repeater-item u-shape-round u-video-cover u-list-item-1"
          data-href="/wordcloud/">
          <div class="u-container-layout u-similar-container u-container-layout-2"><span
              class="u-file-icon u-icon u-icon-circle u-opacity u-opacity-70 u-palette-3-base u-icon-1"
              data-animation-name="" data-animation-duration="0" data-animation-delay="0"
              data-animation-direction=""><img src="../static/cloud.png" alt="Word Cloud"></span>
          </div>
        </div>
        <div title="Trigrama"
          class="u-align-center u-container-style u-hover-feature u-list-item u-palette-5-light-2 u-radius-20 u-repeater-item u-shape-round u-video-cover u-list-item-1"
          data-href="/trigramas/">
          <div class="u-container-layout u-similar-container u-container-layout-2"><span
              class="u-file-icon u-icon u-icon-circle u-opacity u-opacity-70 u-palette-3-base u-icon-1"
              data-animation-name="" data-animation-duration="0" data-animation-delay="0"
              data-animation-direction=""><img src="../static/trigram.png" alt=""></span>
          </div>
        </div>
        <div title="Eventos"
        class="u-align-center u-container-style u-hover-feature u-list-item u-palette-5-light-2 u-radius-20 u-repeater-item u-shape-round u-video-cover u-list-item-1"
        data-href="/eventos/">
        <div class="u-container-layout u-similar-container u-container-layout-2"><span
            class="u-file-icon u-icon u-icon-circle u-opacity u-opacity-70 u-palette-3-base u-icon-1"
            data-animation-name="" data-animation-duration="0" data-animation-delay="0"
            data-animation-direction=""><img src="../static/eventos.png" alt=""></span>
        </div>
      </div>
        <div title="Tópicos"
          class="u-align-center u-container-style u-hover-feature u-list-item u-palette-5-light-2 u-radius-20 u-repeater-item u-shape-round u-video-cover u-list-item-1"
          data-href="/topicos/">
          <div class="u-container-layout u-similar-container u-container-layout-2"><span
              class="u-file-icon u-icon u-icon-circle u-opacity u-opacity-70 u-palette-3-base u-icon-1"
              data-animation-name="" data-animation-duration="0" data-animation-delay="0"
              data-animation-direction=""><img src="../static/topicos.png" alt=""></span>
          </div>
        </div>
        <div title="Temas"
          class="u-align-center u-container-style u-hover-feature u-list-item u-palette-5-light-2 u-radius-20 u-repeater-item u-shape-round u-video-cover u-list-item-1"
          data-href="/temas/">
          <div class="u-container-layout u-similar-container u-container-layout-2"><span
              class="u-file-icon u-icon u-icon-circle u-opacity u-opacity-70 u-palette-3-base u-icon-1"
              data-animation-name="" data-animation-duration="0" data-animation-delay="0"
              data-animation-direction=""><img src="../static/temas.png" alt=""></span>
          </div>
        </div>
        <div title="Subtemas"
          class="u-align-center u-container-style u-hover-feature u-list-item u-palette-5-light-2 u-radius-20 u-repeater-item u-shape-round u-video-cover u-list-item-1"
          data-href="/subtemas/">
          <div class="u-container-layout u-similar-container u-container-layout-2"><span
              class="u-file-icon u-icon u-icon-circle u-opacity u-opacity-70 u-palette-3-base u-icon-1"
              data-animation-name="" data-animation-duration="0" data-animation-delay="0"
              data-animation-direction=""><img src="../static/subtemas.png" alt=""></span>
          </div>
        </div>
        <div title="Comunas"
          class="u-align-center u-container-style u-hover-feature u-list-item u-palette-5-light-2 u-radius-20 u-repeater-item u-shape-round u-video-cover u-list-item-1"
          data-href="/comunas/">
          <div class="u-container-layout u-similar-container u-container-layout-2"><span
              class="u-file-icon u-icon u-icon-circle u-opacity u-opacity-70 u-palette-3-base u-icon-1"
              data-animation-name="" data-animation-duration="0" data-animation-delay="0"
              data-animation-direction=""><img src="../static/comunas.png" alt=""></span>
          </div>
        </div>
        <div title="Municipios"
          class="u-align-center u-container-style u-hover-feature u-list-item u-palette-5-light-2 u-radius-20 u-repeater-item u-shape-round u-video-cover u-list-item-1"
          data-href="/municipios/">
          <div class="u-container-layout u-similar-container u-container-layout-2"><span
              class="u-file-icon u-icon u-icon-circle u-opacity u-opacity-70 u-palette-3-base u-icon-1"
              data-animation-name="" data-animation-duration="0" data-animation-delay="0"
              data-animation-direction=""><img src="../static/municipios.png" alt=""></span>
          </div>
        </div>
        <div title="Servicios"
          class="u-align-center u-container-style u-hover-feature u-list-item u-palette-5-light-2 u-radius-20 u-repeater-item u-shape-round u-video-cover u-list-item-1"
          data-href="/servicios/">
          <div class="u-container-layout u-similar-container u-container-layout-2"><span
              class="u-file-icon u-icon u-icon-circle u-opacity u-opacity-70 u-palette-3-base u-icon-1"
              data-animation-name="" data-animation-duration="0" data-animation-delay="0"
              data-animation-direction=""><img src="../static/servicios.png" alt=""></span>
          </div>
        </div>
        <div title="Eventos"
          class="u-align-center u-container-style u-hover-feature u-list-item u-palette-5-light-2 u-radius-20 u-repeater-item u-shape-round u-video-cover u-list-item-1"
          data-href="/eventos/">
          <div class="u-container-layout u-similar-container u-container-layout-2"><span
              class="u-file-icon u-icon u-icon-circle u-opacity u-opacity-70 u-palette-3-base u-icon-1"
              data-animation-name="" data-animation-duration="0" data-animation-delay="0"
              data-animation-direction=""><img src="../static/eventos.png" alt=""></span>
          </div>
        </div>
      </div>
      <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1"
        href="#" role="button">
        <span aria-hidden="true">
          <svg viewBox="0 0 451.847 451.847">
            <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
          </svg>
        </span>
        <span class="sr-only">
          <svg viewBox="0 0 451.847 451.847">
            <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
          </svg>
        </span>
      </a>
      <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2"
        href="#" role="button">
        <span aria-hidden="true">
          <svg viewBox="0 0 451.846 451.847">
            <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
          </svg>
        </span>
        <span class="sr-only">
          <svg viewBox="0 0 451.846 451.847">
            <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
          </svg>
        </span>
      </a>
    </div>
  </section>
  {% block body %}

  {% endblock %}
  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-062e">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Personería de Medellín<br>
      </p>
    </div>
  </footer>

</body>

</html>