{% extends './index.html' %}

{% block body %}
<section class="u-align-center u-clearfix u-section-2" src="" id="sec-ba78">    
    <img src="{{ grafico_image }}" class="u-image-round u-radius-10 u-image-municipio">
</section>
<section class="u-align-center u-clearfix u-section-4" src="" id="sec-ba78">
    <img src="{{ tabla_image }}" class="u-image-round u-radius-10 nice-shadow">
</section>
<section class="u-align-center u-clearfix u-section-5" src="" id="sec-ba78">
    <img src="{{ bar_image }}" class="u-image-round u-radius-10 nice-shadow">
</section>
{% endblock %}